    .nav, .nav a { font-family: Arial; color: white; font-weight: bold; text-decoration: none;}
    .nav a:link,.nav a:visited,.nav a:active {color: #FFFF99;}
    .nav a:hover {color: #000000; background-color: #FFFFFF; }